@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DOBRO DOŠLI U VIDOTEKU FM</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="max-width: 400px; margin: 0 auto; margin-top:25px;">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="http://localhost:53525/Filmovi/Details/2"><img class="img-fluid" src="~/img/filmovi/HarryPotter.jpg" alt="HarryPotter.jpg"></a>
            </div>
            <div class="carousel-item">
                <a href="http://localhost:53525/Filmovi/Details/6"><img class="img-fluid" src="~/img/filmovi/HarryPotter2.jpg" alt="HarryPotter2.jpg"></a>
            </div>
            <div class="carousel-item">
                <a href="http://localhost:53525/Filmovi/Details/5"><img class="img-fluid" src="~/img/filmovi/Jumanji.jpg" alt="Jumanji.jpg"></a>
            </div>
            <div class="carousel-item">
                <a href="http://localhost:53525/Filmovi/Details/1"><img class="img-fluid" src="~/img/filmovi/PiratiSaKariba.jpg" alt="PiratiSaKariba.jpg"></a>
            </div>
            <div class="carousel-item">
                <a href="http://localhost:53525/Filmovi/Details/11"><img class="img-fluid" src="~/img/filmovi/PotragaZaNemom.jpg" alt="PotragaZaNemom.jpg"></a>
            </div>
            <div class="carousel-item">
                <a href="http://localhost:53525/Filmovi/Details/15"><img class="img-fluid" src="~/img/filmovi/NaslijedjenoZlo.jpg" alt="NaslijedjenoZlo.jpg"></a>
            </div>
            <div class="carousel-item">
                <a href="http://localhost:53525/Filmovi/Details/16"><img class="img-fluid" src="~/img/filmovi/DjecjaIgra.jpg" alt="DjecjaIgra.jpg"></a>
            </div>
            <div class="carousel-item">
                <a href="http://localhost:53525/Filmovi/Details/18"><img class="img-fluid" src="~/img/filmovi/Terminator.jpg" alt="Terminator.jpg"></a>
            </div>
            <div class="carousel-item">
                <a href="http://localhost:53525/Filmovi/Details/13"><img class="img-fluid" src="~/img/filmovi/HarryPotter5.jpg" alt="HarryPotter5.jpg"></a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
